@using Microsoft.AspNetCore.Mvc.Localization
@using CoreExplorerV3.Helpers

@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

<nav class="layout-footer footer bg-footer-theme">
    <div class="container-fluid justify-content-between container-p-x pb-3 row">
        <div class="col-xl-6 col-md-12 p-1">
            <span class="footer-link pt-3 ml-4">&copy; OTOCASH ENTERPRISE</span>
        </div>
        <div class="col-xl-6 col-md-12 p-1 text-right">
            <a class="footer-link pt-3 ml-4" href="https://www.otocash.io">Official website</a>
            <a class="footer-link pt-3 ml-4" href="https://www.otocash.io/2019/01/24/token-converted/">Token</a>
            <a class="footer-link pt-3 ml-4" href="https://www.omniwallet.org/">Wallet</a>
            <a class="footer-link pt-3 ml-4" href="https://twitter.com/otocashofficial">Community</a>
            <a class="footer-link pt-3 ml-4" href="https://www.otocash.io/news">News</a>
            <a class="footer-link pt-3 ml-4" href="https://www.otocash.io/contact/">Contact</a>
        </div>
    </div>
</nav>